<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="Tenpay" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Enow.TZB.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="MailSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="PageSize" value="25" />
    <add key="WxPageSize" value="4" />
    <!--  图片读取路劲  -->
    <add key="Uploadimgurl" value="http://localhost:8015" />
    <!--  文件上传保存路径  -->
    <add key="UploadFileDomain" value="http://localhost:8015" />
    <add key="UploadFilePath" value="/UploadPhoto/" />
    <!--  微信媒体保存路径  -->
    <add key="WXMediaDownPath" value="/WXMediaPath/" />
    <!--  广发卡消费折扣  -->
    <add key="GFKSXFZheKou" value="9.0" />
    <!--  广发卡充值折扣  -->
    <add key="GFKSCZZheKou" value="9.0" />
    <!--  二维码图片路径  -->
    <add key="QRCodeFilePath" value="/QRCODEPATH/" />
    <!--  短信配置  -->
    <add key="SmsChannelCode" value="252318901" />
    <add key="SmsPassword" value="qqaazz123" />
    <add key="SerialNumber" value="4eee24b748ec04ee013e0796760a7acd" />
    <add key="SmsAccount" value="2523189" />
    <add key="SmsSignature" value="【铁子帮足球】" />
    <!--	短信验证发送	-->
    <add key="MailSendUserName" value="tiezibang@tie-zi.com" />
    <add key="MailSendPassword" value="tzb2014" />
    <add key="MailTemplate" value="十分感谢您注册铁子帮，请您点击下面链接进行用户认证，如无法点击，请直接拷贝整个链接到浏览器地址栏运行。" />
    <!--	微信	-->
    <add key="WXDomain" value="t.tie-zi.com​​" />
    <add key="WXToken" value="Aa123456​​" />
    <add key="WXAppId" value="wx33bbf1c5c1d5a10b​" />
    <add key="WXAppSecret" value="4700b1876dbe932b1f57047b312343c5" />
    <add key="WXEncodingAESKey" value="OqNidwHJphYjct73sRmoYr5BQdNX51idVqe3UGSjTVb" />
    <add key="WXSubscribeMsg" value="哈哈，恭喜你，已经成为关注华人草根足球和青少年足球普及的一员，铁子帮帮主李铁携全体帮工欢迎你的加入，我们都有一个共同的名字---“铁丝”，这里不分国界，不分性别，只要你热爱健康，热爱足球，那就让我们聚在一起。Let's play 一起玩吧！通知：订阅号“铁子帮足球”（TIEZI-FC），会每天为铁丝们推送足球情感类原创文章，让你找到灵魂上的归宿；订阅号“铁丝网”（tiesihome），会每天为铁丝们推送最新最有趣的足球新闻类资讯和关于全球各地铁丝们的激情实况，让你更快乐的了解足球的方方面面。请大家搜索关注哦。本服务号正在开发高大上的微门户，请大家保留此号，会在11月份进行华丽装修上线哦~~~" />
    <add key="WXAutoReply" value="这是一条自动回复消息!​​" />
    <!--	注册码	-->
    <add key="License" value="b550223988e7859f75ac7bd8f5aec026" />
    <add key="FinwinUD" value="Oe3/CnkvdNFSXr94276akg==f4f4d5122c19166479ee50053ba67d12" />
  </appSettings>
  <connectionStrings>
    <add name="TZBConnectionString" connectionString="Data Source=192.168.1.254;Initial Catalog=TZB2;Persist Security Info=True;User ID=sa;Password=enow"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--    URL REWRITE 开始    -->
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="TrainMallRule" stopProcessing="true">
          <match url="^WX/Mall/TrainMall.aspx$" ignoreCase="false" />
          <action type="Rewrite" url="/WX/Mall/Mall_Type_List.aspx?type=3" appendQueryString="false" />
        </rule>
        <rule name="WelfareMallRule" stopProcessing="true">
          <match url="^WX/Mall/WelfareMall.aspx$" ignoreCase="false" />
          <action type="Rewrite" url="/WX/Mall/Mall_Type_List.aspx?type=2" appendQueryString="false" />
        </rule>
        <rule name="CharityMallRule" stopProcessing="true">
          <match url="^WX/Mall/CharityMall.aspx$" ignoreCase="false" />
          <action type="Rewrite" url="/WX/Mall/Mall_Type_List.aspx?type=1" appendQueryString="false" />
        </rule>
        <rule name="FootballTripMallRule" stopProcessing="true">
          <match url="^WX/Mall/FootballTripMall.aspx$" ignoreCase="false" />
          <action type="Rewrite" url="/WX/Mall/Mall_Type_List.aspx?type=4" appendQueryString="false" />
        </rule>
        <rule name="OtherMallRule" stopProcessing="true">
          <match url="^WX/Mall/TiesiMall.aspx$" ignoreCase="false" />
          <action type="Rewrite" url="/WX/Mall/Mall_Type_List.aspx?type=5" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <!--    URL REWRITE 结束    -->
  <!-- 电子邮件发送设置begin -->
  <system.net>
    <mailSettings>
      <!-- 当SMTP服务器需要启用SSL的时候，需将MailSettings>IsEnableSSL 设置为true -->
      <smtp deliveryMethod="Network">
        <network host="smtp.exmail.qq.com" userName="tiezibang@tie-zi.com" password="tzb2014" defaultCredentials="true"  />
      </smtp>
    </mailSettings>
    <!-- 电子邮件发送设置end -->
  </system.net>
  <MailSettings>
    <add key="IsEnableSSL" value="true" />
    <add key="SSLPort" value="465" />
    <!--邮件发送的地址-->
    <add key="SendAddress" value="tiezibang@tie-zi.com"/>
  </MailSettings>
  <system.web>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="2000000" executionTimeout="300" requestValidationMode="2.0" />
    <customErrors mode="Off" defaultRedirect="/WX/Notice/NoAttention.aspx">
      <error statusCode="403" redirect="/WX/Notice/NoAttention.aspx" />
      <error statusCode="404" redirect="/WX/Notice/NoAttention.aspx" />
    </customErrors>
    <pages validateRequest="false" enableViewState="false" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Enow.TZB.Web.Properties.Settings>
      <setting name="Enow_TZB_Web_SmsService_SmsService" serializeAs="String">
        <value>http://sms.2office.net:8080/WebService/SmsService.asmx</value>
      </setting>
    </Enow.TZB.Web.Properties.Settings>
  </applicationSettings>
  <Tenpay>
    <!-- Tenpay Interface Parameters Begin -->
    <!-- 平台商户ID -->
    <add key="bargainor_id" value="10028467"/>
    <!-- 安全检验码 -->
    <add key="key" value="82d2f8b9fd7695aec51415ab2900a755"/>
    <!-- 字符编码格式 utf-8,gb2312 -->
    <add key="input_charset" value="utf-8"/>
    <!-- 加密方式 不需修改 -->
    <add key="sign_type" value="MD5"/>
    <!-- 证书地址 -->
    <add key="pfxPath" value="~/ten_pfx/apiclient_cert.p12"/>
    <!--<add key="pfxPath" value="~/App_Data/ten_pfx/1900000107.pfx"/>-->
    <!-- 证书密码 -->
    <add key="pfxPwd" value="1207884201"/>
    <!-- 支付完成后异步调用通知的URL、http://开头的完整地址(若不包含http://则系统会默认取当前程序所在的域名) -->
    <add key="notify_url" value="​​/TenPay/notify_url.aspx"/>
    <!-- 支付完成后，同步重定向，自动跳转回该指定网址(若为空，支付完成后页面不进行跳转)，http://开头的完整地址(若不包含http://则系统会默认取当前程序所在的域名) -->
    <add key="return_url" value="​​/Wx/member/"/>
    <add key="appkey" value="wx33bbf1c5c1d5a10b" />
    <!-- Tenpay Interface Parameters End -->
  </Tenpay>
</configuration>
