<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="Alipay" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Enow.TZB.WebForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PageSize" value="25" />
    <!--  文件上传保存路径  -->
    <add key="UploadFileDomain" value="http://localhost" />
    <add key="UploadFilePath" value="/UploadPhoto/" />
    <add key="PhotoUrl" value="http://localhost:8005" />
    <!--  短信配置  -->
    <add key="SmsChannelCode" value="252318901" />
    <add key="SmsPassword" value="qqaazz123" />
    <add key="SerialNumber" value="4eee24b748ec04ee013e0796760a7acd" />
    <add key="SmsAccount" value="2523189" />
    <add key="SmsSignature" value="【铁子帮足球】" />
    <!--	短信验证发送	-->
    <add key="MailSendUserName" value="tiezibang@tie-zi.com" />
    <add key="MailSendPassword" value="tzb2014" />
    <add key="MailTemplate" value="十分感谢您注册铁子帮，请您点击下面链接进行用户认证，如无法点击，请直接拷贝整个链接到浏览器地址栏运行。" />
    <!--	微信	-->
    <add key="WXDomain" value="t.tie-zi.com" />
    <add key="WXToken" value="Aa123456​​" />
    <add key="WXAppId" value="wx33bbf1c5c1d5a10b​" />
    <add key="WXAppSecret" value="4700b1876dbe932b1f57047b312343c5" />
    <add key="WXEncodingAESKey" value="OqNidwHJphYjct73sRmoYr5BQdNX51idVqe3UGSjTVb" />
    <add key="WXSubscribeMsg" value="哈哈，恭喜你，已经成为关注华人草根足球和青少年足球普及的一员，铁子帮帮主李铁携全体帮工欢迎你的加入，我们都有一个共同的名字---“铁丝”，这里不分国界，不分性别，只要你热爱健康，热爱足球，那就让我们聚在一起。Let's play 一起玩吧！通知：订阅号“铁子帮足球”（TIEZI-FC），会每天为铁丝们推送足球情感类原创文章，让你找到灵魂上的归宿；订阅号“铁丝网”（tiesihome），会每天为铁丝们推送最新最有趣的足球新闻类资讯和关于全球各地铁丝们的激情实况，让你更快乐的了解足球的方方面面。请大家搜索关注哦。本服务号正在开发高大上的微门户，请大家保留此号，会在11月份进行华丽装修上线哦~~~" />
    <add key="WXAutoReply" value="这是一条自动回复消息!​​" />
    <!--	注册码	-->
    <add key="License" value="b550223988e7859f75ac7bd8f5aec026" />
    <add key="FinwinUD" value="Oe3/CnkvdNFSXr94276akg==f4f4d5122c19166479ee50053ba67d12" />
    <!--支付宝卖家账号-->
    <add key="AlipayAccount" value="tiezibang@tie-zi.com" />
  </appSettings>
  <Alipay>
    <!-- Alipay Interface Parameters Begin -->
    <!-- 加密方式 不需修改 -->
    <add key="sign_type" value="MD5" />
    <!-- 字符编码格式 目前支持 gbk 或 utf-8 -->
    <add key="input_charset" value="utf-8" />
    <!-- 支付完成后异步调用通知的URL、http://开头的完整地址(若不包含http://则系统会默认取当前程序所在的域名) -->
    <add key="notify_url" value="http://localhost:8006/AliPay/Alipay_Notify.aspx" />
    <!-- 支付完成后，同步重定向，自动跳转回该指定网址(若为空，支付完成后页面不进行跳转)，http://开头的完整地址(若不包含http://则系统会默认取当前程序所在的域名) -->
    <add key="return_url" value="http://localhost:8006/Default.aspx" />
    <!-- 合作身份者ID -->
    <add key="partner" value="2088401533225887" />
    <!-- 安全检验码 -->
    <add key="key" value="gdzeib0pw2jaazy053ix78k5gepbiphi" />
    <!-- 收取支付手续费的平台帐户 -->
    <add key="seller_mailer" value="pay2@tongye114.com" />
    <!-- 交易手续费收费比例，如：0.1，则手续费=交易总金额*0.1 -->
    <add key="service_fee_percent" value="0" />
    <!-- Alipay Interface Parameters End -->
  </Alipay>
  <connectionStrings>
    <add name="TZBConnectionString" connectionString="Data Source=192.168.1.254;Initial Catalog=TZB2;Persist Security Info=True;User ID=sa;Password=enow"

        providerName="System.Data.SqlClient" />
    <add name="TZBConnectionString2" connectionString="Data Source=192.168.1.254;Initial Catalog=tzb2;Persist Security Info=True;User ID=sa;Password=enow"

      providerName="System.Data.SqlClient" />
    <!--<add name="TZBConnectionString" connectionString="Data Source=121.41.35.92;Initial Catalog=Test;Persist Security Info=TEST;User ID=TZB;Password=TZB@123#abC"
           providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="2000000" executionTimeout="300" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <pages validateRequest="false" enableViewState="false" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Enow.TZB.WebForm.Properties.Settings>
      <setting name="Enow_TZB_Web_SmsService_SmsService" serializeAs="String">
        <value>http://sms.2office.net:8080/WebService/SmsService.asmx</value>
      </setting>
    </Enow.TZB.WebForm.Properties.Settings>
  </applicationSettings>
</configuration>
